/*
 * Body Styles
 */
html,body {
  background: url(mainBG.jpg) no-repeat center center fixed;
  background-size: cover;
  margin:0;
  padding:0;
}

/*
 * Menu Style
 */
 .menuBox {
   background-color: #252730;
   overflow: hidden;
   display: grid;
   grid-template-columns:repeat(3, 1fr);
 }

.menuBox > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

 .menuBox a {
   color: #E6D5B4;
   text-align: center;
   padding: 12px 14px;
   text-decoration: none;
   font-size: 18px;
 }

 .menuBox a:hover {
   background-color:#E6D5B4;
   color: #252730;
 }
