/*
 * Body Styles
 */
html {
    background: url(background_image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
 * Body Text Content
 */
.bodyTitle {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    display: grid;
    grid-row: 2/9;
    grid-column: 1/4;

}
.bodyContent {
    color: white;
    text-align: center;
}

/*
 * Menu Style
 */

 .menuContainer {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto;
    justify-content: center;
    grid-row: 1/2;
    grid-template-columns: repeat(3, 1fr);
 }

 .menuContainer > div {
     padding: 1em;
 }
 .menuBox {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

 .menuBox > div {
     padding: 1em;
 }

