/*
 * Body Styles
 */
html,body {
    background: url(mainBG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;

padding:0;
}

/*
 * Menu Style
 */

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   position: sticky;
   margin: 0;
   background-color:#252730;
 }

 li {
  float:left;
  
 }

 li a {
   display: block;
   color:#E6D5B4;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }

 /* Change the link color to #111 (black) on hover */
 li a:hover {
   background-color: #111;
 }
