/*
 * General Styles
 */
* {
  margin:0;
  padding:0;
}

/*
 * Menu Style
 */

  .imgbox {
    display: grid;
    height: 100%;
  }
  .center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
  }
 .mContainer {
   background-color: #A60606;
   overflow: hidden;
   display: grid;
   grid-template-columns:repeat(3, 1fr);
 }

.mContainer > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

 .mContainer a {
   color: white;
   text-align: center;
   padding: 12px 14px;
   text-decoration: none;
   font-size: 18px;
 }

 .mContainer a:hover {
   background-color:#042738;
   color: white;
 }

 /*
  * Body Styles
  */
  .bContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center;
  }
  .product{
    display: grid;
    justify-items:center;
  }
  .product > img {
    width: 225px;
    height: auto;
  }
  .prodTitle {
    text-align: center;
    font-family: monospace;
    color: #042738;
  }
  .addCartBtn {
    background-color: #A60606;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: 50px;

  }
  .addCartBtn:hover {
   background-color:#042738;
   color: white;
 }
  .bCenter {
    background-color: #252730;
    color: #E6D5B4;
    padding: 2em;
    text-align:center;
    height: 100vh;
  }
