
* {
  box-sizing: border-box;
}

body, html {
  margin:0;
  padding:0;
  background-color: #F3F3F3;
  font-family: arial;
}

.headerLinks {
  overflow: hidden;
  display: grid;
  grid-template-columns:repeat(3, 1fr);
}
.headerLinks a {
  color: white;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 18px;
}


.hContainer {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 1fr 65px;
  grid-template-rows: auto;
  background-color: #6669C9;
  overflow: hidden;
}

.pageTitle {
  display: grid;
  grid-template-columns: 65px 1fr 1fr;
  grid-template-rows: auto;
}

.bContainer {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 1fr 65px;
  grid-template-rows: 100px;
  text-align: center;
}

.bContainer input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  
}

.bContainer h2 {
  text-align: center;
}

.ncColumn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.contactColumns {
  display: grid;
  grid-template-columns: 65px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 65px;
  grid-template-rows: 100px;
}

.topnav {
  overflow: hidden;
  background-color: #6669C9;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #8e90d7;
  color:white;
}


.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sidebar {
  width: 65px;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }